{% extends "base_info.html" %}
{% block head %}

{% endblock head %}
{% block body %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    <li><a href="/list1_1_1/" class="fruit">新鲜水果</a></li>
                    <li><a href="/list2_1_1/" class="seafood">海鲜水产</a></li>
                    <li><a href="/list3_1_1/" class="meet">猪牛羊肉</a></li>
                    <li><a href="/list4_1_1/" class="egg">禽类蛋品</a></li>
                    <li><a href="/list5_1_1/" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="/list6_1_1/" class="ice">速冻食品</a></li>
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="/">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="/">全部分类</a>
        <span>></span>
        <a href="/list{{ goods.gtype.id }}_1_1/">{{ goods.gtype.ttitle }}</a>
        <span>></span>
        <a href="/detail-{{ goods.id }}/">商品详情</a>
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img src="/static/{{ goods.gpic }}"></div>

        <div class="goods_detail_list fr">
            <h3>{{ goods.gname }}</h3>
            <p>{{ goods.gshortintro }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em id="price">{{ goods.gprice }}</em></span>
                <span class="show_unit">单  位：{{ goods.gunit }}</span>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>
            <div class="total">总价：<em id="tprice">{{ goods.gprice }}元</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn">立即购买</a>
                <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {% for i in news %}
                        <li>
                            <a href="/detail-{{ i.id }}/"><img src="/static/{{ i.gpic }}"></a>
                            <h4><a href="/detail-{{ i.id }}/">{{ i.gname }}</a></h4>
                            <div class="prize">￥{{ i.gprice }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
                <li>评论</li>
            </ul>

            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>
                        {{ goods.gintro }}
                    </dd>
                </dl>
            </div>

        </div>
    </div>
{% endblock body %}
{% block end %}
    <div class="add_jump"></div>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        {#        var $add_x = $('#add_cart').offset().top;#}
        {#        var $add_y = $('#add_cart').offset().left;#}
        {##}
        {#        var $to_x = $('#show_count').offset().top;#}
        {#        var $to_y = $('#show_count').offset().left;#}
        {##}
        {#        $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'})#}
        {#        $('#add_cart').click(function () {#}
        {#            $(".add_jump").stop().animate({#}
        {#                    'left': $to_y + 7,#}
        {#                    'top': $to_x + 7#}
        {#                },#}
        {#                "fast", function () {#}
        {#                    $(".add_jump").fadeOut('fast', function () {#}
        {#                        $('#show_count').html(2);#}
        {#                    });#}
        {##}
        {#                });#}
        {#        });#}
        $('#add_cart').click(function () {
            var cnum=parseInt($('.num_show').val());
            $.ajax({
                url: '/cart/add{{ goods.id }}'+'_'+cnum+'/',
                type: 'get',
                success: function (data) {
                    $('.goods_count').text(data.count);
                }
            });
        });
        $('.add').click(function () {
            add();
        });

        $('.minus').click(function () {
            minus();
        });

        function add() {
            num = parseFloat($('.num_show').val());
            $('.num_show').val(num + 1);
            $('.num_show').blur();
        }

        function minus() {
            num = parseFloat($('.num_show').val());
            if (num <= 1) {
                return;
            }
            $('.num_show').val(num - 1);
            $('.num_show').blur();
        }

        $(function () {

            $('.num_show').blur(function () {
                num = parseInt($('.num_show').val());
                if (num <= 1) {
                    num = 1;
                }
                //得是字符才可以parse
                price = parseFloat($('#price').text());
                total = num * price;
                $('.num_show').val(num);
                $('#tprice').text(total.toFixed(2) + "元");
                {#                $('#tprice').text(10.0+ "元");#}

            })
        });
    </script>
{% endblock end %}



	
